controller:
  image:
    repository: jenkins/jenkins
    tag: "2.401.3-jdk17"
  runAsUser: 1000
  admin:
    username: admin
    password: admin123
  persistence:
    enabled: true
    size: 8Gi
    storageClassName: "microk8s-hostpath"
  sidecars:
    configAutoReload:
      enabled: false
  ingress:
    enabled: true
    ingressClassName: public
    hostName: jenkins.dangelomagallanes.me
  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - docker-workflow:latest

